# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.egg-link
.eggs/
pip-wheel-metadata/
share/python-wheels/
MANIFEST

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
.Python
develop-eggs/
lib/
lib64/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Jupyter
.ipynb_checkpoints

# pyenv
.python-version

# mypy / type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Environments
.env
.env.*
!.env.example

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Temporary files
tmp/*

# IDE
.vscode/
.idea/
*.swp
*.swo
